In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hervey Bay,AU,2021-07-21 23:53:22,-25.2986,152.8535,60.04,64,9,5.01
1,1,Ushuaia,AR,2021-07-21 23:53:23,-54.8000,-68.3000,37.06,60,90,9.22
2,2,Lorengau,PG,2021-07-21 23:53:23,-2.0226,147.2712,83.28,74,76,4.38
3,3,Cidreira,BR,2021-07-21 23:53:23,-30.1811,-50.2056,53.80,65,0,0.45
4,4,Coruripe,BR,2021-07-21 23:53:24,-10.1256,-36.1756,72.54,86,42,8.43

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Lorengau,PG,2021-07-21 23:53:23,-2.0226,147.2712,83.28,74,76,4.38
5,5,Tautira,PF,2021-07-21 23:53:24,-17.7333,-149.1500,84.22,75,45,13.27
9,9,Isangel,VU,2021-07-21 23:53:25,-19.5500,169.2667,80.71,83,20,0.00
26,26,San Patricio,US,2021-07-21 23:53:31,28.0170,-97.5169,84.92,56,6,14.34
31,31,Avarua,CK,2021-07-21 23:53:32,-21.2078,-159.7750,80.65,78,8,11.50
39,39,Emba,KZ,2021-07-21 23:53:35,48.8264,58.1442,82.60,28,60,11.16
47,47,Rayagada,IN,2021-07-21 23:53:37,19.1667,83.4167,78.08,89,100,3.22
48,48,Yatou,CN,2021-07-21 23:53:37,37.1500,122.3833,80.65,69,79,4.85
49,49,Blairmore,CA,2021-07-21 23:53:37,49.6000,-114.4353,76.87,38,38,12.66
51,51,Georgetown,MY,2021-07-21 23:51:51,5.4112,100.3354,82.89,88,20,2.30

In [13]:
preferred_cities_df.count()

City_ID       204
City          204
Country       204
Date          204
Lat           204
Lng           204
Max Temp      204
Humidity      204
Cloudiness    204
Wind Speed    204
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2       Lorengau      PG     83.28  -2.0226  147.2712
5        Tautira      PF     84.22 -17.7333 -149.1500
9        Isangel      VU     80.71 -19.5500  169.2667
26  San Patricio      US     84.92  28.0170  -97.5169
31        Avarua      CK     80.65 -21.2078 -159.7750
39          Emba      KZ     82.60  48.8264   58.1442
47      Rayagada      IN     78.08  19.1667   83.4167
48         Yatou      CN     80.65  37.1500  122.3833
49     Blairmore      CA     76.87  49.6000 -114.4353
51    Georgetown      MY     82.89   5.4112  100.3354

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5500,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Lorengau,PG,83.28,-2.0226,147.2712,Lorengau Harbourside Hotel
5,Tautira,PF,84.22,-17.7333,-149.1500,Pension Oaoa
9,Isangel,VU,80.71,-19.5500,169.2667,Tanna Lodge
26,San Patricio,US,84.92,28.0170,-97.5169,"Motel 6 Sinton, TX"
31,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
39,Emba,KZ,82.60,48.8264,58.1442,
47,Rayagada,IN,78.08,19.1667,83.4167,
48,Yatou,CN,80.65,37.1500,122.3833,
49,Blairmore,CA,76.87,49.6000,-114.4353,
51,Georgetown,MY,82.89,5.4112,100.3354,

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))